<p>cinema works!</p>

<h1>Finnkino uutisia</h1>
<input matInput placeholder="Kirjoita hakusana" [(ngModel)]="searchTerm">
<!--<input matInput placeholder="Kirjoita hakusana" [(ngModel)]="searchTerm">
<mat-icon matSuffix>find_in_page</mat-icon>-->
<mat-accordion>
  <!--| newsFilter: searchTerm-->
  <mat-expansion-panel *ngFor="let item of cinemaData$ | async | NewsFilter: searchTerm">">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.Title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{item.HTMLLead}}
    <img src={{item.ImageURL}} width="150px" height="150px">

  </mat-expansion-panel>
</mat-accordion>

